[submodule "submodules/bullet3"]
	path = submodules/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp/
