[submodule "submodules/bullet3"]
	path = submodules/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp/
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
